.searchbar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    text-align: left;
    margin-top: 10px;
    border-radius: 15px;
}

.product-title {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    padding: 0 10px 0 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%rem;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    width: 20rem;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 45px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;
    margin-bottom: 4rem; /* Espaçamento entre os itens */
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.11), 0 3px 6px rgba(0,0,0,0.23);
}

.products-image {
    width: 9rem;
    height: 9rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-radius: 5%;
}

.productbox-image {
    display: block;
    border-radius: 5%;
    margin-right: 4rem;
}

.buylink {
    text-decoration: none;
    color: #000000;
}

#product-box {
    width: 50%;
    height: 22rem;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 60px;
    padding-left: 3rem;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    margin-top: 40px;
}
